#resume {
  background-color: rgb(54, 59, 61);
}

#resume p,
#resume strong {
  color: rgb(175, 170, 162);
}

#resume h4 span {
  border-bottom: 3px solid rgb(0, 250, 250);
  padding-bottom: 6px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 767px) {
  #resume h4 {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
}
