#about p {
  color: rgb(175, 170, 162);
  font-size: 1em;
}

#about a {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: inherit;
}

#about a:hover {
  transform: scale(1.1) !important;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 480px) {
}
